@model IEnumerable<ClassifiedRobot.Models.Website>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Function)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SearchURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageFormRules)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.URL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Function)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SearchURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageFormRules)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WebsiteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WebsiteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WebsiteId })
        </td>
    </tr>
}

</table>
