@model ClassifiedRobot.Models.SearchLog

<div class="card">
    <div class="header">
        <h4 class="title">
            Ads Scraper
        </h4>
    </div>
    <div class="content">

        <form action="@Url.Action("ValidateAds")" method="post" id="fmScrapAds">

            @Html.HiddenFor(c => c.SearchLogId)
            @Html.HiddenFor(c => c.URL)
            @Html.HiddenFor(c => c.TotalPages)
            @Html.HiddenFor(c => c.TotalAds)
            @Html.HiddenFor(c => c.StartTime)
            @Html.HiddenFor(c => c.EndTime)
            @Html.HiddenFor(c => c.Status)

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Website</label>
                        @Html.DropDownList("WebsiteId", "Select Website")
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Proxy</label>
                        <select>Select Proxy</select>
                    </div>
                </div>
            </div>

            <div class="row" id="categories_div">

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Negative Keywords</label>
                        @Html.TextBoxFor(c => c.Negative)
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Keywords</label>
                        @Html.TextBoxFor(c => c.Keywords)
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12">

                    <button type="button" id="btnExtractAds" class="btn btn-primary btn-fill btn-sm">Extract Ads</button>
                    <button type="button" id="btnCancelExtractAds" disabled="" class="btn btn-info btn-fill btn-sm">Stop/Cancel</button>
                    <button type="button" id="btnCreateNewSearch" class="btn btn-default btn-fill btn-sm">Clear & Reload</button>

                </div>

            </div>

            <div class="clearfix"></div>

            <div class="footer">

                <hr>

                <div class="legend">
                    <i class="fa fa-circle text-info"></i> Ads(<span id="lblAds">@Model.TotalAds</span>)
                    <i class="fa fa-circle text-warning"></i> Pages(<span id="lblPages">@Model.TotalPages</span>)
                </div>

            </div>

            <div class="clearfix"></div>
        </form>
    </div>
</div>
